.App {
  text-align: center;
}

/* CUSTOM CSS */

body {
  text-align: center;
}

#root {
  padding: 15px;
}

.cell {
  border: 1px solid black;
  min-width: 7rem;
  min-height: 7rem;
}

.gameStatus {
  margin: 1rem;
  font-size: 22px;
  font-weight: bold;
}

.playerLab {
  margin-right: 3em;
}

button:focus {outline:0;}